APP_NAME=Cardio Insights API
APP_VERSION=0.1.0
API_V1_PREFIX=/api/v1
ENVIRONMENT=dev
DEBUG=true

JWT_SECRET_KEY=replace-this-with-a-long-random-secret
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=120

REPOSITORY_BACKEND=mock
NATURAL_QUERY_AUTO_KPI_MODE=human_approve
NATURAL_QUERY_AUTO_KPI_APPROVER_ROLES=admin,direccion,direccion_medica,medico_direccion

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=change-me
MYSQL_DATABASE=incc
